@font-face {
  font-family: 'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/LAKESHOR-webfont.woff') format('woff'),
        url('fonts/LAKESHOR-webfont.tff') format('truetype'),
        url('fonts/LAKESHOR-webfont.sgv#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'airstreamregular';
src:url('fonts/fonts/Airstream-webfont.eot');
src:url('fonts/fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Airstream-webfont.woff') format('woff'),
    url('fonts/Airstream-webfont.ttf') format('truetype'),
    url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.button1{
    width: 300px;
    height: 40px;
}
.button2{
    width: 300px;
    height: 40px;
}
.button-container{
  display:flex;
    justify-content: center;
    align-items: center;
}
.button1 , #button2 {
display:inline-block;
}
html, body{
}

body{
  display: flex;
  flex-direction: column;
  font-size:10px;
  background: rgb(149,194,215);

}

a[href = "#"]{
  text-decoration: none;
}
.main-header{
  flex:0 1 auto;
}
.logo-text{
  background: white;

  text-align: center;
  text-transform: uppercase;
  font-family:lakeshore;
  font-size: 37px;
}

.main-content{
  display: flex;
  flex:1 1 auto;
  flex-direction: column;


}

.thumbnail-item+.thumbnail-item{
  margin-top: 10px;
}

.thumbnail-item{
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid rgb(100%,100%,100%);
  border: 1px solid rgba(100%,100%,100%,0.8);
}

.thumbnail-list{
  flex: 0 1 auto;
  order: 2;
  display: flex;
  list-style:none;
  padding:0;

  white-space: nowrap;
  overflow-x: auto;
}

.thumbnail-image{
  display:block;
  width: 100%
}

.thumbnail-title{
  display: block;
  margin:0;
  padding: 4px 10px;

  background: rgb(96,125,139);
  color: rgb(202,238,255);

  font-size: 18px;
}

.detail-image{
  width:90%;

}

.detail-image-title{
  font-family: airstreamregular;
  color: white;
  text-shadow: rgba(0,0,0,0.9) 1px 2px 9px;
  font-size: 40px;
}

.detail-image-container{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image-frame{
  position: relative;
  text-align: center;
}
